*{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        font-family:'Inter', sans-serif;
        /* border: 1px red solid; */
}


body{
        background-color: #F3F4F6;
        display: flex;
        justify-content: center;
}

#main{
        width: 100%;
        margin: 15px 15%;
        border-radius: 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>*{
                margin: 20px;
        }
}

#video{
        min-height: 300px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.user{
        min-width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.videoscreen{
        width:100%;
        height: 87%;
        background-color: #111827;
        border-radius: 15px;
        object-fit: cover;
}

#controls{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

button{
        border-radius: 5px;
        height:3em;
        padding: 12px;
        border: none;
        transition: transform 0.3s ease-in-out;
}

button:hover{
        transform: scale(1.05);
}


.ctlbtn{
        margin:10px;
}

#step1and2{
        min-height: 300px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
}

.offerarea{
        min-width: 49%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &>*{
             margin:15px;  
        }

        border: 0.5px #ddd solid;
        border-radius: 10px;
}

textarea{
        border: 0.5px #ddd solid;
        min-height: 100px;
        padding: 10px;
}

.finalarea{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        border: 0.5px #ddd solid;
        border-radius: 10px;

        &>*{
             margin:15px;   
        }
}




